.contact-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    background-color: rgb(48, 48, 48);
}

.contact-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: white;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
}

.contact-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.contact-title-bg {
    z-index: 1;
    width: 100%;
    height: 18rem;
    object-fit: cover;
    filter: grayscale(80%);
    opacity: 0.5;
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    font-size: 46px;
    font-weight: 550;
    color: rgb(197, 150, 33);
    text-shadow: 3px 3px rgb(23, 23, 23);
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 80px;
}

.contact-info-container-left {
    display: flex;
    flex-direction: column;

}

.form-info-container {
    display: flex;
    flex-direction: column;
}

.form-contact-instructions {
    width: 32rem;
    font-size: 18px;
}

.contact-form-req-mes {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.contact-page-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    font-size: 18px;
}

.contact-form-input-container {
    display: flex;
    flex-direction: column;
}

.contact-form-input-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 6px;
}

.contact-form-input-field {
    width: 30rem;
    height: 2rem;
    border-radius: 3px;
    border: solid .1rem gray;
    margin-top: 3px;
    padding-left: 15px;
}

.contact-form-input-field-select {
    width: 31.2rem;
    height: 2.5rem;
    border-radius: 3px;
    border: solid .1rem gray;
    margin-top: 3px;
    padding-left: 15px;
}

.contact-form-input-field-question {
    min-width: 30rem;
    max-width: 30rem;
    height: 4rem;
    min-height: 4rem;
    max-height: 20rem;
    border-radius: 3px;
    border: solid .1rem gray;
    margin-top: 10px;
    padding-left: 15px;
}

.contact-form-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.contact-email-submit-bttn {
    width: 8rem;
    height: 3rem;
    background-color: rgb(197, 150, 33);
    border: 2px solid rgb(197, 150, 33);
    border-radius: 5px;
    padding: 12px;

    font-size: 18px;
    color: white;

    margin-top: 10px;
}

.contact-email-submit-bttn:hover {
    cursor: pointer;
    border: 2px solid gray;
    background-color: grey;
    color: white;
}

.contact-info-container-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.office-pic {
    width: 500px;
    border-radius: 5px;
}

.business-hours-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.business-hours-weekdays {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.business-hours-weekends {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.google-maps-links {
    font-size: 18px;
    text-decoration: underline;
    color: rgb(197, 150, 33);
    margin-bottom: 25px;
}

.contact-map-pic {
    object-fit: cover;
    width: 100%;
    height: 36rem;
    border-top: 2px solid rgb(197, 150, 33);
    border-bottom: 2px solid rgb(197, 150, 33);

    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.contact-map-pic:active {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}

.contact-membership-pics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 2rem;
    padding-bottom: 40px;
    background-color: white;
}






.location-icon {
    margin-right: 5px;
}

.phone-number {
    margin-right: 5px;
}

.contact-fax {
    margin-right: 5px;
}

.contact-email {
    margin-right: 5px;
}

.contact-time {
    margin-right: 5px;
}

.contact-footer-email {
    margin-right: 4px;
}
